*{
    margin: 0;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color:rgb(43, 40, 49); */
    background-image: linear-gradient(rgba(250, 245, 115, 0.829), rgba(5, 47, 73, 0.815));
}
ul{
    display: flex;
    border-bottom: 10px solid rgb(70, 116, 216);
    list-style: none;

}
ul li{
    height:100px;
    width:100px;
    background-color:black;
    border-radius: 50%;
    margin: 0px 10px;
    animation: bouncy 1s linear infinite;
}
@keyframes bouncy{
    0%{
        transform: translateY(0px);
    }
    50%{transform: translateY(-150px);}
    100%{transform: translateY(0px);}
}
ul li:nth-child(1){
    animation-delay: 0.2s;
    background-color:rgb(93, 176, 197);
}
ul li:nth-child(2){
    animation-delay: 0.6s;
    background-color:rgb(130, 70, 148);
}
ul li:nth-child(3){
    animation-delay: 0.4s;
    background-color:rgb(160, 130, 85);
}
ul li:nth-child(4){
    animation-delay: 0.8s;
    background-color:rgb(81, 150, 98);
}
ul li:nth-child(5){
    animation-delay: 0.2s;
    background-color:rgb(189, 89, 151);
}