*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
}
.content{
    /* background-image: linear-gradient(to bottom,  rgba(12, 61, 194, 0.822), rgba(52, 7, 88, 0.774) ); */
    background-image: url('../img/login--backgound.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.content .title{
    margin-bottom: 50px;
    font-size:7vh;
    color: rgb(88, 5, 121);
}
.main_content{
    background-image: linear-gradient(to bottom,  rgba(87, 10, 150, 0.822), rgba(52, 7, 88, 0.774) );
    width: 50vh;
    border-radius: 12px;
    box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.9), inset 6px 6px 6px 12px rgba(255, 255, 255, 0.2);
}
.main_content h1{
    font-size: 6vh;
    text-align: center;
    margin-top: 20px;
    color: rgba(9, 2, 10, 0.527);
}
form{
    display: flex;
    flex-direction: column;
    margin: 20px 20px;
    border: 2px dashed grey;
    border-radius: 12px;
    padding: 20px;
}
.input{
    display: flex;
    flex-direction: column;
    height: 50px;
}
.input label{
    color:#fff;
    padding-bottom: 5px;
}
.input input{
    border-radius: 5px;
    border: none;
    outline: none;
    height: 20px;
    padding-left: 10px;
    font-size: 16px;
    text-align: center;
    background-color: rgb(70, 8, 95);
    color:#fff;
    transition: 0.2s
}
.input input:focus{
    transition: 0.5s;
    width: 101%;
    margin-left: -2.3%;
    transform: scale(1.1);
    box-shadow: 0px 0px 30px 2px #a425f83f
}  
.input input::placeholder{
    color: rgba(255, 255, 255, 0.815);
    font-size: 16px;
}
button{
    color:#fff;
    margin-top: 10px;
    height: 25px;
    outline: none;
    border:none;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(46, 16, 59);
}
button:hover{
    background-color: rgb(37, 3, 51);
}
.checkbox{
    display: flex;
    flex-direction: row;
    align-items:center;
}
.checkbox input{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.checkbox label{
    padding-left: 10px;
    color: white;
}