*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}
.card{
    height: 400px;
    width: 400px;
    border: 5px solid black;
    display: flex;
    flex-direction:column;
}
.card .title{
    text-align: center;
    height: 30px;
    border-bottom: 2px solid black;
}
.card .body{
    margin-left: 20px;
}
.list{
    line-height: 2;
}
.list li{
    list-style: none;
}
.list li a{
    text-decoration:none;
    font-size:large;
}